.report-notes__item
  = image_tag appeal_note.account.avatar.url, class: 'report-notes__item__avatar'

  .report-notes__item__header
    %span.username
      = link_to appeal_note.account.username, admin_account_path(appeal_note.account_id)
    %time.relative-formatted{ datetime: appeal_note.created_at.iso8601 }
      = l appeal_note.created_at.to_date

  .report-notes__item__content
    = linkify(appeal_note.content)

  - if can?(:destroy, appeal_note)
    .report-notes__item__actions
      = table_link_to 'delete', t('admin.reports.notes.delete'), admin_disputes_appeal_note_path(appeal_note), method: :delete
